#title {
/*  margin: 0 auto;*/
  background-color: white;
  color: black;
  font-weight: 900;
  width: fit-content;
  padding: 0 10px;
  border-radius: 3px; 
}

.games-container {
  margin-top: 2em;
}

.thumbnails-container {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  gap: 16px;
}

.thumbnail {
  min-width: 208px;
  max-width: calc(25% - 8px);
  max-height: auto;

  &:hover {
    transform: scale(1.025);
    box-shadow: $elevation-2;
  }
  &:active {
    transform: scale(1.05);
    box-shadow: $elevation-3;
  }

  img {
    border-radius: $border-radius / 2;
  }
}