.hero-image-container {
  margin: 0;
}

.hero-image{
	min-height: 100px;
	height: 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("/img/home_splash_01.png");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  maring: 0;
}

.image-content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#hero-image-logo{
	width: 25%;
}