#site-nav {
  width: 100%;
  margin: 1em 0;
  display: flex;
}

.nav-bar li {
  display: inline-block;
  font-weight: 600;
}

.site-nav-link {
  background-color: white;
  border-radius: 2px;
  margin: 0 .25em;
  padding: 0 .25em;
}

.social-nav-bar {
  margin-left: auto;
  margin-right: 1em;
}

.social-nav-icon {
  max-height: 2em;
}

.nav-bar a {
  color: black;
  margin: 0 .25em;
}
