.page-content-container {
  margin: 0 auto;
  max-width: 75%;
}

a:link {
  text-decoration: none;
}

.mail a {
  color: green;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: black;
  color: white;
}

h2 {
  margin: 0 0;
}

main {
  background-color: black;
  width: 75%;
  min-height: 100%;
  margin: 0 auto;
}



/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

/* codeblock formatting: */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/*Format tables:*/
table {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  margin: auto;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
