.page-content-container {
  margin: 0 auto;
  max-width: 75%;
}

a:link {
  text-decoration: none;
}

.mail a {
  color: green;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: black;
  color: white;
}

h2 {
  margin: 0 0;
}

main {
  background-color: black;
  width: 75%;
  min-height: 100%;
  margin: 0 auto;
}

/*image overlay for clickable images:*/
.image-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, .25);
  z-index: 9999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-base * 2;
}

.image-overlay img {
  display: block;
  margin: auto;
  box-shadow: $elevation-5;
}



/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

/* codeblock formatting: */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/*Format tables:*/
table {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  margin: auto;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
