<link rel="stylesheet" href="/css/games/single.scss">

{{ partial "header.html" . }}
<!-- <div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div> -->

<main>
	<div class="game-container">
		<img src="{{.Params.splashImg}}" class="splash-img">
		<div class="game-header">
			<h1 class="game-title"> {{.Params.title}} </h1>
			<div class="download-links-container" >
				<span>Download:</span>
				{{ if (.Params.steamLink) }}
					{{ partial "download-buttons/steam" . }}
				{{ end }}
				{{ if (.Params.gogLink) }}
					{{ partial "download-buttons/gog" . }}
				{{ end }}
				{{ if (.Params.switchLink) }}
					{{ partial "download-buttons/switch" . }}
				{{ end }}
				{{ if (.Params.itchioLink) }}
					{{ partial "download-buttons/itchio" . }}
				{{ end }}
			</div>
		</div>
		<br>
		<p>{{.Params.summaryText}}</p>
		{{ if (.Params.trailerLink) }}
			<div class="trailer-container">
				<iframe width="560" height="315" src="{{ .Params.trailerLink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
			<br>
		{{ end }}
    <div class="game-screenshots">
      {{- range .Params.Screenshots -}}
        <a class="game-screenshot" enhance-clickable-image="true" href="{{ . }}">
          <img loading="lazy" src="{{ . }}" />
        </a>
      {{- end -}}
    </div>

		<br>
		<div class="content-container">
			{{ .Content }}			
		</div>
	</div>

	{{ partial "footer.html" . }}
</main>
