<link rel="stylesheet" href="/css/partials/games-grid.css">

<div class="games-container">
  <h1 id="title">Games:</h1>
  <div class="thumbnails-container">
    <a class="thumbnail" href="/games/oceans-heart">
      <img loading="lazy" src="/games/oceans-heart/thumbnail.png" />
    </a>

    <a class="thumbnail" href="/games/tombwater">
      <img loading="lazy" src="/games/tombwater/thumbnail.png" />
    </a>

    <a class="thumbnail" href="/games/hallows-eve">
      <img loading="lazy" src="/games/hallows-eve/thumbnail.png" />
    </a>

    <a class="thumbnail" href="/games/yarntown">
      <img loading="lazy" src="/games/yarntown/thumbnail.png" />
    </a>
  </div>
</div>
