<link rel="stylesheet" href="/css/partials/hero-image.css">

<div class="hero-image-container">
	<div class="hero-image">
		<div class="image-content">
			<img id="hero-image-logo" src="img/moths_logo.gif">
		</div>
	</div>
</div>
