<link rel="stylesheet" href="/css/partials/nav.css">
<nav id="site-nav">

  <ul class="nav-bar site-nav-bar">
    {{ range .Site.Menus.main }}
    <li><a class="site-nav-link" title="Go to {{ .Name }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>

  <ul class="nav-bar social-nav-bar">
<!-- 
    {{ range .Site.Menus.social }}
    <li><a href="{{ .URL | relURL }}">
      {{ .Name }}
    </a></li>
    {{ end }}
 -->
    {{ range .Site.Params.socialChannels }}
    <li class="social-nav-link">
      <a title="Follow us on {{ .name }}" href="{{ .url }}">
        <img class="social-nav-icon" src="{{ .icon }}">
      </a>
    </li>
    {{ end }}
  </ul>

</nav>
