.content-container h3 {
	background-color: white;
	color: black;
	font-weight: 900;
	width: fit-content;
	padding: 0 10px;
	border-radius: 3px;
}

.download-links-container {
/*	float: right;*/
	margin-bottom: 0;
	margin-top: auto;
	margin: auto 0;
}

/*Store Logos:*/
.download-links-container img {
	margin: auto 10px;
	height: 5%;
	width: auto;
}

.download-links-container span {
	color: grey;
}




.game-header {
	margin: 1em 0;
}

.game-header * {
/*	display: inline-block;*/
	margin: 1em 0;
}

.game-screenshots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  gap: 16px;
}

.game-screenshot {
  min-width: 208px;
  max-width: calc(25% - 8px);
  max-height: auto;

  &:hover {
    transform: scale(1.025);
    box-shadow: $elevation-2;
  }
  &:active {
    transform: scale(1.05);
    box-shadow: $elevation-3;
  }

  img {
    border-radius: $border-radius / 2;
  }
}


.game-title {
	background-color: white;
	color: black;
	font-weight: 900;
	width: fit-content;
	padding: 0 10px;
	border-radius: 3px;
}

.splash-img {
	width: 100%;
}

.trailer-container {
	margin 0 auto;
}

.trailer-container iframe {
	display: block;
	border-style: none;
	margin: 0 auto;
}

